<ion-content class="background">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

<ion-header class="fondo-titulo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center color="light"> <p class="centered-p">Car-To-Go</p></ion-title>
  </ion-toolbar>
</ion-header>

<div class="imagen">
  <img src="https://i.postimg.cc/W3Zwbg9s/25e993fa-9477-4a33-ac94-580367d470a3.jpg"/>
  
  <ion-card>
    <ion-card-header >
        <ion-card-title>Car-To-Go</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-color">
      Esta esta app diseñada para la venta de carros nuevos y usados
      Busca por modelo, marca y/o estado y encontraremos los mejores para ti..
      <ion-card-subtitle> Copyright © Todos los derechos reservados</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>