.fondo-titulo {
    --ion-toolbar-background: #101b5a;
    font-family: 'arial black', sans-serif;
}
ion-content{
    --background: linear-gradient(#f9fbff, #f4f5f8);
    font-family: 'Constatia', sans-serif;
}
.md .centered-p {
    text-align: center;
    margin-left: -15%
  }